@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div style="height:10px;"></div>
<div class="list-group col-lg-2">

    <div class=" clearfix"></div>
    <a class="list-group-item LeftSection" id="Index" asp-action="Index" asp-controller="Dashboard">
        Index
    </a>
    <a class="list-group-item LeftSection" id="AddAdmin" asp-action="AddAdmin" asp-controller="Dashboard">
        Add Admin
    </a>
    <a class="list-group-item LeftSection" asp-action="Index" asp-controller="IntroQuestions">
        Introduction Questions Manage
    </a>
    <a class="list-group-item LeftSection" asp-action="Index" asp-controller="CheckInQuestions">
        Check In Questions Manage
    </a>
    <a class="list-group-item LeftSection" asp-action="Index" asp-controller="BodyParts">
        Body Manage
    </a>
    <a class="list-group-item LeftSection" asp-action="Index" asp-controller="Exercises">
        Exercises Manage
    </a>
    <a class="list-group-item LeftSection" asp-action="SearchCustomer" asp-controller="Dashboard">
        Customer View
    </a>
    <a class="list-group-item LeftSection" asp-action="Index" asp-controller="Plans">
        Plan Controller
    </a>
</div>