
ImprovementProjectWebApp/bin/Debug/netcoreapp2.0/ImprovementProjectWebApp.deps.json
ImprovementProjectWebApp/bin/Debug/netcoreapp2.0/ImprovementProjectWebApp.deps.json
ImprovementProjectWebApp/bin/Debug/netcoreapp2.0/ImprovementProjectWebApp.deps.json
.vs/config/applicationhost.config
.vs/ImprovementProjectWebApp/v15/.suo
.vs/ImprovementProjectWebApp/v15/Server/sqlite3/storage.ide
.vs/ImprovementProjectWebApp/v15/Server/sqlite3/storage.ide-shm
.vs/ImprovementProjectWebApp/v15/Server/sqlite3/storage.ide-wal
ImprovementProjectWebApp/appsettings.json
ImprovementProjectWebApp/bin/Debug/netcoreapp2.0/ImprovementProjectWebApp.deps.json
ImprovementProjectWebApp/bin/Debug/netcoreapp2.0/ImprovementProjectWebApp.dll
ImprovementProjectWebApp/bin/Debug/netcoreapp2.0/ImprovementProjectWebApp.pdb
ImprovementProjectWebApp/bin/Debug/netcoreapp2.0/ImprovementProjectWebApp.runtimeconfig.dev.json
ImprovementProjectWebApp/obj/Debug/netcoreapp2.0/ImprovementProjectWebApp.assets.cache
ImprovementProjectWebApp/obj/Debug/netcoreapp2.0/ImprovementProjectWebApp.csproj.CoreCompileInputs.cache
ImprovementProjectWebApp/obj/Debug/netcoreapp2.0/ImprovementProjectWebApp.csproj.FileListAbsolute.txt
ImprovementProjectWebApp/obj/Debug/netcoreapp2.0/ImprovementProjectWebApp.csprojAssemblyReference.cache
ImprovementProjectWebApp/obj/Debug/netcoreapp2.0/ImprovementProjectWebApp.dll
ImprovementProjectWebApp/obj/Debug/netcoreapp2.0/ImprovementProjectWebApp.pdb
ImprovementProjectWebApp/obj/ImprovementProjectWebApp.csproj.nuget.cache
ImprovementProjectWebApp/obj/ImprovementProjectWebApp.csproj.nuget.g.props
ImprovementProjectWebApp/obj/ImprovementProjectWebApp.csproj.nuget.g.targets
ImprovementProjectWebApp/obj/project.assets.json
