@model ImprovementProjectWebApp.Models.CustomerProfile
@{
    ViewData["Title"] = "AddCustomerProfile";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>添加用户资料</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddCustomerProfile" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group " data-toggle="buttons">
                <label asp-for="Gender"></label>
                <br />
                <label class="btn btn-primary active">
                    <input type="radio" name="Gender" id="option1" checked value="男"> 男
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="Gender" id="option2" value="女"> 女
                </label>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeChatNumber" class="control-label"></label>
                <input asp-for="WeChatNumber" class="form-control" />
                <span asp-validation-for="WeChatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeChatQRCode"></label>
                <input asp-for="WeChatQRCode" type="file" id="fUpload" name="files" class="form-control" />
            </div>
            <div style="display:none;">
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationUserId" class="control-label"></label>
                    <input asp-for="ApplicationUserId" class="form-control" value="@Model.ApplicationUserId" />

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@
