@model ImprovementProjectWebApp.Models.Customer.AnswerIntroQAListVM
@{
    ViewData["Title"] = "AnswerIntroQAListView";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>AnswerIntroQAListView</h2>
<form asp-controller="Customer" asp-action="AnswerIntroQAListView">
    Customer:
    <div class="row">
        @{ var count = 0;
                foreach (var item in Model.IntroQuestions)
                {

        <div class="col-lg-10">
            <label>@item.Question</label>
            <input  name="IntroQuestions" value="@item.Id" style="display:none;" />
        </div>
                    <div class="col-lg-10">
                        <textarea id="IntroAnswers" name="IntroAnswers" class="form-control " >
            </textarea>
                    </div>
                count++;
            }
            }
        <div class="col-lg-2">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</form>

