@model ImprovementProjectWebApp.Models.CheckInQA
@{
    ViewData["Title"] = "FinishedCheckIn";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>打卡</h2>
<div class="alert alert-success" role="alert">
    打卡成功！
</div>
