@model ImprovementProjectWebApp.Models.Customer.AppUserPlanVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/css/main.css" rel="stylesheet">*@
<link href="~/css/CustomerIndex.css" rel="stylesheet">
<style>
    /*-- pricing --*/
    .pricing {
        padding: 5em 0;
    }

    h3.heading {
        font-size: 45px;
        font-weight: 400;
        letter-spacing: 0;
        margin-bottom: 1em;
        text-transform: capitalize;
    }

        h3.heading span {
            font-weight: 400;
            color: #00BCD4;
            border-bottom: 2px solid #00BCD4;
        }

    .agileits-pricing-grid {
        float: left;
        width: 24%;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

        .agileits-pricing-grid:hover {
            transform: scale(1.06);
            -webkit-transform: scale(1.06);
            -moz-transform: scale(1.06);
            -o-transform: scale(1.06);
            -ms-transform: scale(1.06);
            z-index: 1;
        }

        .agileits-pricing-grid:nth-child(2) {
            margin: 0 1em;
        }

        .agileits-pricing-grid:nth-child(3) {
            margin-right: 1em;
        }

    .pricing-top {
        padding: 2em 0 0;
        background: #e04646;
        text-align: center;
    }

    .blue-top {
        background: #fb8a2e !important;
    }

    .green-top {
        background: #0091cd !important;
    }

    .yellow-top {
        background: #00ad45 !important;
    }

    .pricing-top h3 {
        color: #FFF;
        font-size: 1.5em;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .wthree-pricing-info {
        padding: 0em 0 1em;
        background: #e04646;
    }

        .wthree-pricing-info p {
            color: #FFFFFF;
            font-size: 1em;
            margin: 0;
            text-align: center;
        }

            .wthree-pricing-info p span {
                font-size: 4em;
                font-weight: 600;
            }

    .pricing-bottom {
        background: #FFF;
        padding: 0em 0 2em 0em;
        border-bottom-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-bottom-left-radius: 5px;
        -ms-border-bottom-left-radius: 5px;
        -o-border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-bottom-right-radius: 5px;
        -ms-border-bottom-right-radius: 5px;
        -o-border-bottom-right-radius: 5px;
    }

    .pricing-bottom-top {
        padding: 1em 0;
        background: #fd5c63;
    }

        .pricing-bottom-top p {
            color: #212121;
            margin: 0;
            font-size: .9em;
            line-height: 1.8em;
            font-weight: 600;
            text-transform: uppercase;
        }

    .pricing-bottom-bottom {
        padding: 3em 2em 3em 2em;
        border: 1px solid #dcdcdc;
    }

        .pricing-bottom-bottom p {
            color: #333;
            font-size: 15px;
            margin: 0 0 1em 0;
            font-family: 'PT Sans Caption', sans-serif;
        }

    .buy-button {
        margin-top: 7px;
        text-align: center;
    }

    .pricing-bottom-bottom p span {
        font-weight: 700;
        color: #333;
        letter-spacing: 1px;
    }

        .pricing-bottom-bottom p span.fa {
            width: 25px;
            color: #999;
        }

    p.text {
        margin-bottom: 0;
    }

    .buy-button a {
        background: #00ad45;
        padding: .5em 1.5em;
        border: solid 1px #00ad45;
        color: #fff;
        letter-spacing: 1px;
        font-family: 'PT Sans Caption', sans-serif;
    }

        .buy-button a:hover {
            background: none;
            border: solid 1px #00ad45;
            color: #00ad45;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
            -ms-transition: 0.5s all;
            text-decoration: none;
        }

    .first .buy-button a {
        background: #c73a40;
        border: solid 1px #c73a40;
    }

        .first .buy-button a:hover {
            background: none;
            border: solid 1px #c73a40;
            color: #c73a40;
        }

    .second .buy-button a {
        background: #fb8a2e;
        border: solid 1px #fb8a2e;
    }

        .second .buy-button a:hover {
            background: none;
            border: solid 1px #fb8a2e;
            color: #fb8a2e;
        }

    .third .buy-button a {
        background: #0091cd;
        border: solid 1px #0091cd;
    }

        .third .buy-button a:hover {
            background: none;
            border: solid 1px #0091cd;
            color: #0091cd;
        }

    .blue-pricing-bottom-top {
    }

        .blue-pricing-bottom-top:nth-child(2) {
            border-top: solid 1px #1085bf;
        }

    .green-pricing-bottom-top {
    }

        .green-pricing-bottom-top:nth-child(2) {
            border-top: solid 1px #609835;
        }
    /*-- //pricing --*/
</style>


@if (Model == null)
{

    <div class="alert alert-info" role="alert">
        请联系教练添加您的计划！
    </div>

}
else
{
    if (Model.IfUserDelete == true)
    {
        <br />
        <br /><br />
        <div class="alert alert-info" role="alert">
            您的账户出现了问题请您联系我们的管理员
        </div>
    }
    else
    {

        <!-- Our Work Section -->
        <div class="">


            <div class="">
                <h3 class="title-description">用户名: @Model.ApplicationUser.UserName</h3>
            </div>
            <!-- End Title Page -->
            <!-- Portfolio Projects -->
            @if (Model.appUserPlan != null)
            {
                @if (Model.appUserPlan.EndDate < DateTime.Now)
                {

                    <div class="">
                        <div class="alert alert-danger" role="alert">
                            您的计划已经过期，请联系我们的教练给您安排计划。
                        </div>
                    </div>

                }
                else
                {
                    @if ((Model.appUserPlan.EndDate - DateTime.Now).TotalDays < 5)
                    {
                        int days = (int)Math.Abs(Math.Round((Model.appUserPlan.EndDate - DateTime.Now).TotalDays));
                        <div class="">
                            <div class="alert alert-danger" role="alert">
                                您的计划还有 @days 天过期，请联系我们的教练给您安排计划。
                            </div>
                        </div>

                    }
                    <div class="containerNew">
                        <div class="box">
                            <div class="thumb">
                                <img src="images/1.jpg">
                            </div>
                            <div class="details">
                                <div class="content">
                                    @*<i class="fa fa-heartbeat" aria-hidden="true"></i>*@
                                    <h3>健身计划</h3>
                                    <a class="selected" asp-controller="Customer" asp-action="WorkoutList">View</a>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="thumb">
                                <img src="images/2.jpg">
                            </div>
                            <div class="details">
                                <div class="content">
                                    @*<i class="fa fa-cutlery" aria-hidden="true"></i>*@
                                    <h3>饮食计划</h3>
                                    <a asp-controller="Customer" asp-action="MealPlanList">View</a>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="thumb">
                                <img src="images/3.jpg">
                            </div>
                            <div class="details">
                                <div class="content">
                                    @*<i class="fa fa-camera" aria-hidden="true"></i>*@
                                    <h3>打卡</h3>
                                    <a asp-controller="Customer" asp-action="CheckInList">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="thumb">
                                <img src="images/4.jpg">
                            </div>
                            <div class="details" id="x1">
                                <div class="content">
                                    @*<i class="fa fa-paper-plane" aria-hidden="true"></i>*@
                                    <h3>打卡信息</h3>
                                    <a asp-controller="Customer" asp-action="CheckInDetail">View</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="containerNew box2">

                        <div class="box">
                            <div class="thumb">
                                <img src="images/5.jpg">
                            </div>
                            <div class="details" id="x2">
                                <div class="content">
                                    @*<i class="fa fa-gift" aria-hidden="true"></i>*@
                                    <h3>用户提问</h3>
                                    <a asp-controller="Customer" asp-action="FeedbacksList">View</a>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="thumb">
                                <img src="images/6.jpg">
                            </div>
                            <div class="details" id="x3">
                                <div class="content">
                                    @*<i class="fa fa-globe" aria-hidden="true"></i>*@
                                    <h3>用户信息</h3>
                                    <a asp-controller="Customer" asp-action="ViewCustomer">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="thumb">
                                <img src="images/7.jpg">
                            </div>
                            <div class="details" id="x2">
                                <div class="content">
                                    @*<i class="fa fa-gift" aria-hidden="true"></i>*@
                                    <h3>图片墙</h3>
                                    <a asp-controller="Customer" asp-action="ViewGallery">View</a>
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="thumb">
                                <img src="images/8.jpg">
                            </div>
                            <div class="details" id="x3">
                                <div class="content">
                                    @*<i class="fa fa-globe" aria-hidden="true"></i>*@
                                    <h3>管理账户</h3>
                                    <a asp-controller="Manage" asp-action="Index">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                }
            }
            else
            {

                @if (Model.IfUserEmailConfirmed == false)
                {

                    <div class="alert alert-info" role="alert">
                        <h4>验证邮件已经成功发送至您的邮箱，请您进入您的邮箱激活您的账户，如果未发现邮件，请查看您的垃圾邮箱.</h4>
                        <h4>如果邮件过期请 <a asp-controller="Manage" asp-action="Index">点击这里进入用户设置再次发送邮件激活</a></h4>
                        
                    </div>
                }
                else
                {
                    if (Model.IfHaveIntro == true)
                    {
                        if (Model.IfFinishIntro != true)
                        {
                            <div class="alert alert-warning " role="alert">
                                你还没有完成初始问题 <a asp-controller="Customer" asp-action="AnswerIntroQA">点击这里完成回答初始问题</a>
                            </div>
                        }
                        else
                        {
                            if (Model.IfUploadImg != true)
                            {
                                <div class="alert alert-warning " role="alert">
                                    你还没有上传初始图片 <a asp-controller="Customer" asp-action="InitialImg">点击这里上传初始图片</a>
                                </div>

                            }
                            else
                            {
                                <section class="pricing" id="pricing">
                                    <div class="container">
                                        <h3 class="heading">收费 <span>标准</span></h3>
                                        <div class="w3l-pricing-grids">
                                            @if (Model.IfBelow22 != true)
                                            {
                                                <div class="agileits-pricing-grid first">

                                                    <div class="pricing_grid">
                                                        <div class="pricing-top">
                                                            <h3>4周计划</h3>
                                                        </div>
                                                        <div class="wthree-pricing-info">
                                                            <p><span>1500</span>元</p>
                                                        </div>
                                                        <div class="pricing-bottom">
                                                            <div class="pricing-bottom-bottom">
                                                                <p><span class="fa fa-check"></span><span>健身</span> 计划</p>
                                                                <p><span class="fa fa-check"></span><span>饮食 </span> 计划</p>
                                                                <p><span class="fa fa-check"></span><span>在线 </span> 指导</p>
                                                                <p><span class="fa fa-times"></span><span>线下 </span> 指导</p>

                                                            </div>
                                                            <br />
                                                            <div class="buy-button">
                                                                <a asp-controller="Customer" asp-action="SelectPaymentType" asp-route-planId="1">购买</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="agileits-pricing-grid second">
                                                    <div class="pricing_grid">
                                                        <div class="pricing-top blue-top">
                                                            <h3>12周计划</h3>
                                                        </div>
                                                        <div class="wthree-pricing-info blue-top">
                                                            <p><span>4000</span>元</p>
                                                        </div>
                                                        <div class="pricing-bottom">
                                                            <div class="pricing-bottom-bottom blue-pricing-bottom-top">
                                                                <p><span class="fa fa-check"></span><span>健身</span> 计划</p>
                                                                <p><span class="fa fa-check"></span><span>饮食 </span> 计划</p>
                                                                <p><span class="fa fa-check"></span><span>在线 </span> 指导</p>
                                                                <p><span class="fa fa-times"></span><span>线下 </span> 指导</p>
                                                            </div>
                                                            <br />
                                                            <div class="buy-button">
                                                                <a asp-controller="Customer" asp-action="SelectPaymentType" asp-route-planId="2">购买</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="agileits-pricing-grid third">
                                                    <div class="pricing_grid">
                                                        <div class="pricing-top green-top">
                                                            <h3>4周学生计划 <span class="badge badge-pill badge-info">(22岁或以下)</span></h3>

                                                        </div>
                                                        <div class="wthree-pricing-info green-top">
                                                            <p><span>1300</span>元</p>
                                                        </div>
                                                        <div class="pricing-bottom">
                                                            <div class="pricing-bottom-bottom green-pricing-bottom-top">
                                                                <p><span class="fa fa-check"></span><span>健身</span> 计划</p>
                                                                <p><span class="fa fa-check"></span><span>饮食 </span> 计划</p>
                                                                <p><span class="fa fa-check"></span><span>在线 </span> 指导</p>
                                                                <p><span class="fa fa-times"></span><span>线下 </span> 指导</p>
                                                            </div>
                                                            <br />
                                                            <div class="buy-button">
                                                                <a asp-controller="Customer" asp-action="SelectPaymentType" asp-route-planId="3">购买</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="agileits-pricing-grid fourth">
                                                    <div class="pricing_grid">
                                                        <div class="pricing-top yellow-top">
                                                            <h3>12周学生计划<span class="badge badge-pill badge-info">(22岁或以下)</span></h3>
                                                        </div>
                                                        <div class="wthree-pricing-info yellow-top">
                                                            <p><span>3400</span>元</p>
                                                        </div>
                                                        <div class="pricing-bottom">
                                                            <div class="pricing-bottom-bottom yellow-pricing-bottom-top">
                                                                <p><span class="fa fa-check"></span><span>健身</span> 计划</p>
                                                                <p><span class="fa fa-check"></span><span>饮食 </span> 计划</p>
                                                                <p><span class="fa fa-check"></span><span>在线 </span> 指导</p>
                                                                <p><span class="fa fa-times"></span><span>线下 </span> 指导</p>
                                                            </div>
                                                            <br />
                                                            <div class="buy-button">
                                                                <a asp-controller="Customer" asp-action="SelectPaymentType" asp-route-planId="4">购买</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </section>

                            }
                        }

                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            你还没有开始初始问题 <a asp-controller="Customer" asp-action="AnswerIntroQA">点击这里开始回答初始问题</a>

                        </div>

                    }

                }


            }
            <!-- End Portfolio Projects -->
        </div>
    }
}
        <hr />

