
@{
    ViewData["Title"] = "WechatPay";

}
<br />
<br />
<div class="list-group-item col-lg-8">
    
        
        <div class="col-lg-6">
            <h3 style="text-align:center;">微信支付</h3>
            <br />
            <h4>扫码联系客服</h4>
            <h4>我们会提供详细的信息</h4>
            <h4>以及支付服务</h4>
        </div>
        <div class="col-lg-6">
            <img src="~/images/ARkefu.jpg" alt="Alternate Text" width="100%" />
        </div>
</div>
<div class="clearfix"></div>