@model IEnumerable<ImprovementProjectWebApp.Models.Plan>
@{
    ViewData["Title"] = "WorkoutList";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@if (Model.Count() == 0)
{
    <h2>您的健身计划还没有完成，请您耐心等待</h2>

}
else
{
    <h2>健身计划</h2>
    <div class="list-group col-lg-12">

        @{

            var x = Model.GroupBy(m => m.WeekPlan);
            int count = 1;


                foreach (var item in x)
                {
                    <div class="list-group-item col-lg-12">
                        <div class=" col-lg-2">
                            <h4>周 @count</h4>
                            @*<p>@item.FirstOrDefault().WeekPlan.Name</p>*@
                        </div>
                        <div class=" col-lg-10">
                            @{


                                @for (int i = 1; i <= 7; i++)
                                {
                                    bool have = false;
                                    foreach (var z in item)
                                    {
                                        @if (z.DayPlanNum == i)
                                        {
                                            if (z.Name == "休息日")
                                            {

                            <div class="list-group-item list-group-item-info">第 @i 天: 休息日</div>
                                            }
                                            else
                                            {
                                                <a class="list-group-item " asp-controller="Customer" asp-action="CheckWorkoutList_V2" asp-route-PlanId="@z.Id">第 @i 天: @z.Name</a>
                                            }

                                            have = true;
                                        }
                                    }
                                    if (have != true)
                                    {
                                                <div class="list-group-item list-group-item-info">第 @i 天: 休息日</div>
                                    }
                                }

                            }
                        </div>
                    </div>
                    count++;
                }
            }



    </div>
    <div class="clearfix"></div>
    <br />
}

<div class="">

    <a class="btn btn-default col-lg-2 col-lg-offset-10 col-md-2 col-md-offset-10 col-sm-12 col-xs-12"  asp-action="Index" asp-controller="Customer">返回</a>
</div>
