@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
@*<h2>@ViewData["Title"]</h2>*@
<h2>注册</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data">
            <h4>新建一个账户</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group col-lg-12 row">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12 row">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" asp-format="{0:MM/dd/yyyy}" id="datepicker" type="text" value="@DateTime.Today" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>


            <div class="form-group col-lg-12 row">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12 row">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-12 row">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12 row" data-toggle="buttons">
                <label asp-for="Gender"></label>
                <br />
                <label class="btn btn-primary active">
                    <input type="radio" name="Gender" id="option1" checked value="男"> 男
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="Gender" id="option2" value="女"> 女
                </label>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>



            <div class="form-group col-lg-12 row">
                <label asp-for="WeChatNumber"></label>
                <input asp-for="WeChatNumber" class="form-control" />

            </div>
            <div class="form-group col-lg-12 row">
                <label asp-for="WeChatQRCode"></label>
                <input asp-for="WeChatQRCode" type="file" id="fUpload" name="files" class="form-control" />
            </div>



            <div class="form-group col-lg-12 row">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12 row">
                <label>
                    重复密码
                </label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="clearfix"></div>
            <button type="submit" class="btn btn-primary">注册</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            var isRtl = $('html').attr('dir') === 'rtl';

            $('#datepicker').datepicker({
                orientation: isRtl ? 'auto right' : 'auto left'
            });

        });

    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")

}

