@model ImprovementProjectWebApp.Models.DashboardVM.UserMealPlanVM

@{
    ViewData["Title"] = "AddMealPlan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddMealPlan</h2>

<h4>MealPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="AddMealPlan" enctype="multipart/form-data" method="post">
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-12">
                    <input type="file" id="fUpload" name="files" multiple class="form-control" />
                </div>
                <input asp-for="@Model.AppUserPlanId" name="AppUserPlanId"class="form-control" />
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top:10px;">
                    <input type="submit" id="btnUpload" value="Upload" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

