
@{
    ViewData["Title"] = "basicViewSetUp";
}

<h2>basicViewSetUp</h2>


<div style="height:10px;"></div>
<div class="list-group col-lg-2">
    <div class=" clearfix a"></div>
    <a class="list-group-item LeftSection " id="Index" asp-action="Index">
        Index
    </a>
    <a class="list-group-item LeftSection active" id="AddAdmin" asp-action="AddAdmin">
        Add Admin
    </a>
    <a class="list-group-item LeftSection" asp-action="AddAdmin">
        Introduction Questions Set Up
    </a>
    <a class="list-group-item LeftSection" asp-action="AddAdmin">
        Check In Questions Set Up
    </a>
    <a class="list-group-item LeftSection" asp-action="AddAdmin">
        Exercise Qustions Set Up
    </a>
    <a class="list-group-item LeftSection" asp-action="AddAdmin">
        Customer View
    </a>

</div>
<div class="list-group col-lg-10">
    
</div>
<div class="clearfix"></div>


