@model IList<ImprovementProjectWebApp.Models.ApplicationUser>
@{
    ViewData["Title"] = "SearchCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="list-group col-lg-10">

    <h2>SearchCustomer</h2>
    <form asp-controller="Dashboard" asp-action="SearchCustomer">
        Customer:
        <div class="row">
            <div class="col-lg-10">
                <input type="text" name="SearchString" class="form-control">
            </div>
            <div class="col-lg-2">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </form>
    <br />
    <ul class="list-group">

        @*<li class="list-group-item list-group-item-primary col-lg-12 ">*@
        @foreach (var item in Model)
        {
            <li class="list-group-item col-lg-4">
                <div class="">
                    <h5>
                        <strong class=""> Customer Name:</strong>
                    </h5>
                    <p class="">
                        Username:
                        <strong>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </strong>
                    </p>
                    <p class="">
                        Name:
                        @if (item.CustomerProfiles.FirstOrDefault() != null)
                        {
                            <strong>
                                @Html.DisplayFor(modelItem => item.CustomerProfiles.FirstOrDefault().Name)
                            </strong>
                        }
                        else
                        {
                            <strong>Null</strong>

                        }
                    </p>
                    <div class="col-lg-offset-8">
                        <a asp-action="ViewCustomer" asp-route-id="@item.Id">View</a>
                    </div>
                </div>
            </li>
        }
        @*</li>*@

    </ul>
    <div class="clearfix"></div>
</div>
