@model ImprovementProjectWebApp.Models.PartExerciseViewModels.WorkoutExercise
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>   
    <div class="clearfix"></div>
    <label>Reps:</label>
    <br />
    <div class="">
        @{
            for (int i = 0; i < Model.WorkoutPlan.Sets; i++)
            {

                <div style="margin-bottom:5px;">

                    <div class="col-lg-6 RepsDiv" style="padding:0;">
                        <input asp-for="@Model.setsReps.reps[i]" class="form-control RepsInput" value="0" />
                    </div>
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-primary" onclick="setRepsNumber(this)">5</button>
                        <button type="button" class="btn btn-primary" onclick="setRepsNumber(this)">10</button>
                        <button type="button" class="btn btn-primary" onclick="setRepsNumber(this)">+1</button>
                        <button type="button" class="btn btn-primary" onclick="setRepsNumber(this)">+5</button>
                        <button type="button" class="btn btn-danger" onclick="setRepsNumber(this)">0</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            }
        }
    </div>
    <button type="button" class="btn btn-primary">5</button>
</div>
                    
<script>
    function setRepsNumber(a) {
        var btnValue = $(a).text();
        var repsInputValue = parseInt($(a).parent().prev().children().val());
        switch (btnValue) {
            case "5":
                $(a).parent().prev().children().val(5);
                break;
            case "10":
                $(a).parent().prev().children().val(10);
                break;
            case "+1":
                $(a).parent().prev().children().val(repsInputValue + 1);
                break;
            case "+5":
                $(a).parent().prev().children().val(repsInputValue + 5);
                break;
            case "0":
                $(a).parent().prev().children().val(0);
                break;
            default:
                alert("Some Mistake Here");
                break;

        }

    }
</script>


