@model ImprovementProjectWebApp.Models.PartExerciseViewModels.PartExercise
@{
    ViewData["Title"] = "ExerciseSeletor";
}

<h2>ExerciseSeletor</h2>
<ul>
    @foreach (var item in Model.BodyParts)
    {
    <li><input type="button" name="name" value="@Html.DisplayFor(modelItem => item.Name)" class="partBtn" onclick="partBtnClick(this.value)"/></li>
    }
</ul>
<ul class="exercisesUl">
    @foreach (var item in Model.Exercises)
    {
        <li class="exercisesLi"><input type="button" name="name" value="@Html.DisplayFor(modelItem => item.Name)" class="exercisesBtn" onclick="exBtnClick(this.value)"/></li>
    }
</ul>
<script>
    function partBtnClick(a) {

        $.ajax({
            url: '@Url.Action("SelectPart", "WorkoutPlans")',
            type: "POST",
            data: {
                "selectedPart": a
            },
            success: function (data) {
                $(".exercisesUl").empty();
                data.forEach(function (element) {

                        var a = '<li ><input type="button" name="name" value= "' + element +'" class="exercisesBtn" onclick="exBtnClick(this.value)"/></li > ';
                        $(".exercisesUl").append(a);
                   }); 
            },
            error: function () { alert('error'); }
        });
    };

    function exBtnClick(a) {
        alert(a);
    }

</script>

