@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="list-group col-lg-12">
    <a href="~/t1/index.html" class="col-lg-3 list-group-item">Home Templete1</a>
    <a href="~/t2/index.html" class="col-lg-3 list-group-item">Home Templete2</a>
    <a asp-action="Index" asp-controller="Dashboard" class="col-lg-3 list-group-item">Dashboard</a>
    <a asp-action="Index" asp-controller="Customer" class="col-lg-3 list-group-item">Customer View</a>
</div>
