@model ImprovementProjectWebApp.Models.AppUserPlan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

<h4>AppUserPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRelationship">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>

                <input name="EndDateNumber" class="form-control" value=0 id="EndDateInput" />
                <p>*Every one month is 4 weeks</p>
                <span asp-validation-for="EndDate" class="text-danger"></span>

                <div class="">

                    <input type="button" name="OneMonth" value="1 month" class="btn btn-primary" onclick="MonthClick(0)" />
                    <input type="button" name="OneMonth" value="3 months" class="btn btn-primary" onclick="MonthClick(1)" />
                    <input type="button" name="OneMonth" value="+1 month" class="btn btn-primary" onclick="MonthClick(2)" />
                    <input type="button" name="OneMonth" value="+3 months" class="btn btn-primary" onclick="MonthClick(3)" />
                    <input type="button" name="OneMonth" value="0" class="btn btn-danger" onclick="MonthClick(4)" />
                </div>
            </div>

            @*<div class="form-group">
                <label class="control-label">PhaseNumber</label>

                <input name="PhaseNumber" class="form-control" value=0 id="PhaseNumberInput" />

                <div class="">
                    <br />
                    <input type="button" value="1 Phase" class="btn btn-primary" onclick="PhaseNumberClick(0)" />
                    <input type="button" value="4 Phase" class="btn btn-primary" onclick="PhaseNumberClick(1)" />
                    <input type="button" value="+1 Phase" class="btn btn-primary" onclick="PhaseNumberClick(2)" />
                    <input type="button" value="+4 Phase" class="btn btn-primary" onclick="PhaseNumberClick(3)" />
                    <input type="button" value="0" class="btn btn-danger" onclick="PhaseNumberClick(4)" />
                </div>
            </div>*@

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IfLock" /> @Html.DisplayNameFor(model => model.IfLock)
                    </label>
                </div>
            </div>
            <div style="display:none;">

                <div class="form-group">
                    <label asp-for="ApplicationUserId" class="control-label"></label>
                    <input asp-for="ApplicationUserId" class="form-control" value="@Model.ApplicationUserId" />
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>







        function MonthClick(a) {
        switch (a) {
            case 0:
            $("#EndDateInput").val(1);
            break;
        case 1:
            $("#EndDateInput").val(3);
            break;
        case 2:
            $("#EndDateInput").val(parseInt($("#EndDateInput").val()) + 1);
            break;
        case 3:
            $("#EndDateInput").val(parseInt($("#EndDateInput").val()) + 3);
            break;
        case 4:
            $("#EndDateInput").val(0);
            break;

            }

    }

    function PhaseNumberClick(a) {
        switch (a) {
            case 0:
                $("#PhaseNumberInput").val(1);
                break;
            case 1:
                $("#PhaseNumberInput").val(4);
                break;
            case 2:
                $("#PhaseNumberInput").val(parseInt($("#PhaseNumberInput").val()) + 1);
                break;
            case 3:
                $("#PhaseNumberInput").val(parseInt($("#PhaseNumberInput").val()) + 4);
                break;
            case 4:
                $("#PhaseNumberInput").val(0);
                break;

        }

    }

</script>